<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Blog Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Our Blog Post Site!</h1>

      <h3>Check out our blogs!</h3>
      <!-- 
      <h3>Blog Post Form</h3>
      <p>Thank you for your submisssion!</p>

      <h4>Blog Post:</h4> -->
      <div class="row">
        <div th:each="blog:${posts}">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <p th:text="${blog.title}" />
              </div>
              <div class="panel-body">
                <p th:text="${blog.author}" />
                <p th:text="${blog.blogEntry}" />
              </div>
              <div class="panel-footer">
                <!-- Link to Update -->
                <!-- Link to Show  -->
                <!--  Link to Destroy -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <a th:href="@{/blogposts/new}">
        <button class="btn btn-primary">Submit a New Blog Post</button>
      </a>
    </div>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>

<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Blog Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Welcome to Our Blog Post Site!</h1>
    <h3>Check out our blogs!</h3>
    <div class="row">
      <div th:each="blog:${posts}">
          <div class="col-md-6">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <p th:text="${blog.title}"/>
      </div>
        <div class="panel-body">
      <p th:text="${blog.author}"/>
      <p th:text="${blog.blogEntry}" />
        </div>
        <div class="panel-footer">
          <a th:href="@{/blogposts/new}">
            <button class= "btn btn-primary">Submit a New Blog Post</button>
          </a>
      <!-- Link to Update -->
<!-- Link to Show  -->
<!--  Link to Destroy -->
<!-- </div>
            </div>
          </div>
      </div>
  </div>
    <p>Please use the form below to submit a Blog Post:</p>
    <form
      action="#"
      th:action="@{/blogposts}"
      th:object="${blogPost}"
      method="post"
    >
      <table>
        <tr>
          <td>Title</td>
          <td><input type="text" th:field="*{title}" /></td>
        </tr>
        <tr>
          <td>Author:</td>
          <td><input type="text" th:field="*{author}" /></td>
        </tr>
        <tr>
          <td>Blog Entry:</td>
          <td><input type="text" th:field="*{blogEntry}" /></td>
        </tr>
        <tr>
          <td><button type="submit">Submit Your Post</button></td>
        </tr>
      </table>
    </form> -->

<!-- </body> 
</html> -->
